aioice==0.10.1
aiortc==1.11.0
asgiref==3.8.1
av==14.3.0
cffi==1.17.1
channels==4.2.2
click==8.1.8
colorama==0.4.6
colorzero==2.0
cryptography==44.0.2
Django==5.2
djangorestframework==3.16.0
dnspython==2.7.0
drf-yasg==1.21.10
RPi.GPIO==0.7.1
google-crc32c==1.7.1
h11==0.16.0
ifaddr==0.2.0
inflection==0.5.1
numpy==2.2.5
opencv-python==4.11.0.86
packaging==25.0
pycparser==2.22
pyee==13.0.0
pylibsrtp==0.12.0
pyOpenSSL==25.0.0
pytz==2025.2
pigpio==1.78
PyYAML==6.0.2
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
uvicorn==0.34.2
websockets==15.0.1
